.contact-me {
  color: white;
  padding: 2rem;
  margin-left: 15rem;
  margin-top: 2rem;
  h2 {
    font-size: 34px;
    font-weight: 300;
    letter-spacing: 8.5px;
  }
  .contact-cards {
display: flex;
gap: 2rem;
margin-top: 2rem;
width: 100%;
    .contact-card-1 {
      background-color: black;
      width: 30%;
      height: 13rem;
      padding: 1rem;
      h3 {
        font-size: 1.5rem;
      }
      p {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
      .contact {
        display: flex;
        align-items: center;
        gap: 0.7rem;
        .bx {
          font-size: 1.4rem;
          color: $primary-color;
        }
      }
    }
    .contact-card-2 {
      form {
        background-color: black;
        width: 100%;
        padding: 1rem;
        .form-field {
          display: flex;
          gap: 1rem;
          margin-top: 1.4rem;
          input {
              border: 1px solid gray;
            width: 50%;
            border: 1px solid gray;
            padding: 0.6rem 1rem;
            outline: none;
            color: white;
            background-color: transparent;
            font-size: 16.5px;
          }
        }
        .subject {
            width: 100%;
            padding: 0.7rem 1rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            border: 1px solid gray;
            outline: none;
            color: white;
            background-color: transparent;
            font-size: 16.5px;
        }
textarea{
    width: 100%;
    padding: 0.7rem 1rem;
    resize: none;
    outline: none;
    height: 8rem;
    color: white;
    margin-bottom: 1rem;
    background-color: transparent;
    font-size: 16.5px;
}
      }
    }
  }
}
@media(max-width:360px){
  .contact-me {
    padding: 1rem;
    margin-left: 0rem;
    h2 {
      font-size: 27px;
      letter-spacing: 7px;
    }
    .contact-cards {
   flex-direction: column;
      .contact-card-1 {
        background-color: black;
        width: 100%;
        height: 13rem;
        padding: 1rem;
        h3 {
          font-size: 1.5rem;
        }
        p {
          margin-top: 1rem;
          margin-bottom: 1rem;
        }
        .contact {
          display: flex;
          align-items: center;
          gap: 0.7rem;
          .bx {
            font-size: 1.4rem;
            color: $primary-color;
          }
        }
      }
      .contact-card-2 {
        form {
         .form-field {
            input {
              font-size: 15px;
            }
          }
          .subject {
            font-size: 15px;
          }
  textarea{
     font-size: 15px;
  }
  button{
    font-size: 16px;
    padding: 9px 20px;
  }
        }
      }
    }
  }
}
