header{
margin-left: 14rem;
padding: 1rem;
background-color: #10101a;
color: white;
display: flex;
justify-content: space-between;
align-items: center;
.menuBtn{
// padding: 0.5rem;
background-color: #00c278;
color: white;
border: none;
.bx-menu{
font-size: 2rem;
}
}
.btn{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.deleteBtn{
    background-color: #00c278;
    color: white;
    border: none;
    font-size: 1.5rem;
}
}
header{
    display: none;
}
@media(max-width:520px){
    header{
        margin-left: 0rem;
        padding: 1rem;
        position: fixed;
        top: 0%;
        width: 100%;
        background-color: #10101a;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .menuBtn{
        // padding: 0.5rem;
        background-color: #00c278;
        color: white;
        border: none;
        .bx-menu{
        font-size: 2rem;
        }
        }
        }    
}
@media(max-width:360px){
    header{
        margin-left: 0rem;
        padding: 1rem;
        position: fixed;
        top: 0%;
        width: 100%;
        background-color: #10101a;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .menuBtn{
        // padding: 0.5rem;
        background-color: #00c278;
        color: white;
        border: none;
        .bx-menu{
        font-size: 2rem;
        }
        }
        }    
}