.portfolio{
    color: white;
    padding: 2rem;
    margin-left: 15rem;
    margin-top: 2rem;
    h2{
        font-size: 34px;
        font-weight: 430;
       letter-spacing: 8.5px;
    }
.portfolio-btns{
display: flex;
gap: 2rem;
margin-top: 1rem;
button{
border: none;
background-color: transparent;
color: #f0f4f8;
font-size: 18px;
cursor: pointer;
}

}
.all-card{
    margin-top: 2rem;
    width: 100%;
    background-color: black;
    border-radius: 0.7rem;
.image{
width: 100%;
border-top-left-radius: 0.7rem;
border-top-right-radius: 0.7rem;
overflow: hidden;
img{
width: 100%;
overflow: hidden;
height: 14rem;
object-fit: cover;
border-top-left-radius: 0.7rem;
border-top-right-radius: 0.7rem;
&:hover{
transform: scale(1.03);
transition: 0.4s;
}
}
}
.card-data{
padding: 1rem;
p{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 300;
}
a{
    color: white;
}
.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
a{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}
.bxs-circle{
    color: rgb(15, 196, 15);
    animation: heartbeat 1.4s infinite;
}
.bxl-github{
color: purple;
animation: heartbeat 1.4s infinite;
}
}
}

    }
.projects{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
gap: 1rem;
}
}
@keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
@media(max-width:920px){
    .portfolio{
        padding: 1rem;
        margin-left: 0rem;
        h2{
            font-size: 28px;
           letter-spacing: 7px;
        }
    .portfolio-btns{
    gap: 1.8rem;
     button{
    font-size: 16px;
    }
    
    }
    .card-data{
    p{
        font-size: 16px;
    }
.card-footer{
a{
    font-size: 14px;
}
}
    }
        }
    }   
@media(max-width:520px){
    .portfolio{
        padding: 1rem;
        margin-left: 0rem;
        h2{
            font-size: 28px;
           letter-spacing: 7px;
        }
    .portfolio-btns{
    gap: 1.8rem;
     button{
    font-size: 15px;
    }
    
    }
    .card-data{
    p{
        font-size: 14.5px;
    }
.card-footer{
a{
    font-size: 14px;
}
}
    }
        }
    }   
@media(max-width:360px){
    .portfolio{
        padding: 1rem;
        margin-left: 0rem;
        h2{
            font-size: 28px;
           letter-spacing: 7px;
        }
    .portfolio-btns{
    gap: 1.8rem;
     button{
    font-size: 15px;
    }
    
    }
    .card-data{
    p{
        font-size: 14.5px;
    }
.card-footer{
a{
    font-size: 14px;
}
}
    }
        }
    }   
